<div id="wrapper">
<nav class="navbar navbar-inverse  navbar-fixed-top" role="navigation">

    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Mongo Scraper</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" rel="home" href="#" title="expenselogo">
          <img style="max-width:100px; margin-top: -12px; margin-left:-65px;" src="assets/img/logo.png">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>
              Home</a></li>
          <li><a href="/saved">
              <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> Saved Articles</a></li>
          <li><a href="/scrape"><button id="scrape" class="btn btn-warning" data-toggle="modal" data-target="#scrapeModal">Scrape New Articles</button></a></li>
          <li><a href="/clearScrape"><button id="scrapeClear" class="btn btn-warning">Clear Scrape</button></a></li>
        </ul>
      </div>
    </div>
  </nav>
   

      <div class="jumbotron text-center">
		<h1>Mongo Scraper</h1>
	</div>
      
{{#each data}}  
	<div class="card">
		<div class="card-header">
			<h5>
				<a class="article-link" target="_blank" rel="noopener noreferrer" href='https://www.nytimes.com{{link}}'>{{title}}</a>

			    <button class="comment" type="button" data-toggle="modal" data-target="#notesModal" attrId ={{_id}}>Article Notes</button>
          <button class="delete" type="button" attrId ={{_id}}>Delete from Saved</button>
                  
			</h5>

		</div>
		<div class="card-body">
			<p class="card-text">{{summary}}</p>

		</div>
	</div>
{{/each}}

<div id="notesModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"> &times;</button>
          <h4 id="articleNo"></h4>
        </div>

        <div class="modal-body">
        <div class="bootbox-body" id="note-container">
        </div> 
            
                   
        <form>
          <div class="form-group">
            <label for="title" class="col-form-label">New Note:</label>
            <textarea class="form-control" id="title"></textarea>
          </div>
        </form>
        
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-success " id="saveNote" data-dismiss="modal">Save Note</button>
        </div>
      </div>
    </div>
  </div>

  
</div>
<footer>
  <p>Developed by: Minal Karani</p>
</footer>